.header {
    width: 40vh;
    margin: 0 auto 2vh auto;
    font-family: montserrat;
    font-size: 4vh;
    text-align: center;
    padding: 1vh;
    color: black;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.switch {
    display: grid;
    width: 22vh;
    height: 3vh;
    grid-template-columns: 10vh 10vh;
    grid-template-rows: 3vh;
    margin: 1vh auto 3vh auto;
    cursor: default;
    justify-content: space-evenly;
    font-size: 1.5vh
}

.basic {
    grid-area: 1 / 1 / 2 / 2;
    height: 2vh;
    width: 9vh;
    border: .5vh solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
}

.scientific {
    grid-area: 1 / 2 / 2 / 3;
    height: 2vh;
    width: 9vh;
    border: .5vh solid black;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
}

.basic-clicked, .scientific-clicked {
    background-color: #222;
    color: whitesmoke;
}

.container-basic {
    display: flex;
    width: 40vh;
    height: 53.5vh;
    margin: auto;
    background-color: whitesmoke;
    flex-wrap: wrap;
    font-size: 3.5vh;
}

.container-scientific {
    display: flex;
    width: 40vh;
    height: 67.4vh;
    margin: auto;
    background-color: whitesmoke;
    flex-wrap: wrap;
    font-size: 3.5vh;
}

.display-basic {
    width: 38vh;
    height: 9vh;
    border-top: 1vh solid black;
    border-right: 1vh solid black;
    border-left: 1vh solid black;
    border-bottom: .5vh solid black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.screen {
    width: 37vh;
    height: 7.5vh;
    padding: 1.5vh .5vh 0 .5vh;
    font-family: monospace;
    font-size: 4.5vh;
    text-align: right;
    overflow-x: auto;
    overflow-y: hidden;
}

.display-scientific {
    height: 14vh;
    width: 38vh;
    border-top: 1vh solid black;
    border-right: 1vh solid black;
    border-left: 1vh solid black;
    border-bottom: .5vh solid black;
}

.working {
    width: 36.5vh;
    height: 6.5vh;
    padding: .5vh .5vh 0 .5vh;
    font-family: monospace;
    font-size: 3.5vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.answer {
    width: 36.5vh;
    height: 6vh;
    padding: .5vh;
    text-align: right;
    font-family: monospace;
    font-size: 3.5vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.clear {
    width: 28.25vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: 1vh solid black;
    border-right: .5vh solid black;
    border-bottom: .5vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.divide,.multiply,.subtract,.add {
    width: 8.75vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-right: 1vh solid black;
    border-left: .5vh solid black;
    border-bottom: .5vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.one,.four,.seven {
    width: 8.75vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: 1vh solid black;
    border-right: .5vh solid black;
    border-bottom: .5vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.two,.three,.five,.six,.eight,.nine,.decimal {
    width: 8.75vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: .5vh solid black;
    border-right: .5vh solid black;
    border-bottom: .5vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.zero {
    width: 8.75vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: .5vh solid black;
    border-right: .5vh solid black;
    border-bottom: 1vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.decimal {
    width: 8.75vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: 1vh solid black;
    border-right: .5vh solid black;
    border-bottom: 1vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.equal {
    width: 18.5vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: .5vh solid black;
    border-right: 1vh solid black;
    border-bottom: 1vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.paren-left {
    width: 12vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: 1vh solid black;
    border-right: .5vh solid black;
    border-bottom: 1vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default; 
}

.paren-right {
    width: 12vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: .5vh solid black;
    border-right: .5vh solid black;
    border-bottom: 1vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default; 
}

.exp {
    width: 12vh;
    height: 7.5vh;
    border-top: .5vh solid black;
    border-left: .5vh solid black;
    border-right: 1vh solid black;
    border-bottom: 1vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default; 
}

@media(hover: hover) {
    .one:hover,.two:hover,.three:hover,.four:hover,
    .five:hover,.six:hover,.seven:hover,.eight:hover,
    .nine:hover,.zero:hover,.divide:hover,.multiply:hover,
    .subtract:hover,.add:hover,.equal:hover,.clear:hover,
    .decimal:hover,.paren-left:hover,.paren-right:hover,
    .exp:hover {
        background-color: #222;
        color:whitesmoke;
    }
}

@media(hover: hover) {
    .one:active,.two:active,.three:active,.four:active,
    .five:active,.six:active,.seven:active,.eight:active,
    .nine:active,.zero:active,.divide:active,.multiply:active,
    .subtract:active,.add:active,.equal:active,.clear:active,
    .decimal:active,.paren-left:active,.paren-right:active,
    .exp:active {
        background-color: #222;
        color: whitesmoke;
        transform: scale(0.9);
    }
}